<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
  </head>
  <body>
    <header>
      <div id="nav">
        <nav>
          <ul>
            <li><a href="{{ url_for('search') }}">Search</a></li>
          </ul>
         </nav>
      </div>
    </header>
    <div id="wrap">
    {% block content %}
    {% endblock %}
    <footer> 
  
      <p> Computer Science Department, AUTh - Information Retrieval 2023 -
        <a href="mailto:mksarr99@gmail.com">Contact Us!</a></p>
     
    </footer>
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>

