<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Greek Parliament Seach Engine</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
        <script src="{{url_for('static', filename='js/index.js')}}"></script>

    </head>
    <body>

        <div class="header">
            <h1>Greek Parliament Search Engine</h1>
        </div>
    
        <div class="container">
            <form action = "/" method="POST">
              {{ form.hidden_tag() }}
              <div class="input-group">
                  {{ form.query.label }}<br>
                  {{ form.query(class_="input") }}<br>
                  {% for error in form.query.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  <p>{{ form.submit(class_='input') }}</p>
                </div>
            </form>
        </div>

    </body>
</html>