{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Party</th>
        <th>Government</th>
        <th>Role</th>
        <th>Speech</th>
      </tr>
    </thead>
    <tbody>
      {% for speech in speeches %}
        <tr>
          <td>{{ speech['member_name'] }}</td>
          <td>{{ speech['political_party'] }}</td>
          <td>{{ speech['government'] }}</td>
          <td>{{ speech['roles'] }}</td>
          <td><a href="{{ url_for('render_speech', id=speech['_id'])}}">speech</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}