<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Greek Parliament Seach Engine</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    </head>
    <body>

        <div class="header">
            <h1>Greek Parliament Search Engine</h1>
        </div>

        <div class="search">

            <p>This is blah blah blah</p>
            
            <form action="POST">
                <label for="Searchbox">Search:</label>
                <input type="text" title="Searchbox">
                <input type="submit">
            </form>
        </div>

        <div class="main-body">
            <h1>
                TODO: BLOCK BODY
            </h1>
        </div>

        <script src="" async defer></script>
    </body>
</html>